{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_aj %}
        <h3>Learning Shopware Mailing System</h3>
        <article>
            {{ template | raw }}
        </article>
    {% endblock %}
{% endblock %}
