<div class="neti-easy-coupon-payment-status-select">
    <sw-entity-multi-id-select
            :label="label"
            :helpText="helpText"
            :repository="repository"
            :criteria="criteria"
            :ids="currentValue"
            @change="onChange"
    ></sw-entity-multi-id-select>
</div>