<sw-label variant="neutral" size="small" appearance="default" :ghost="false" :caps="false"
          class="neti-powered-by">
    Powered by "<a :href="pluginLink" target="_blank">{{ pluginName }}</a>" - <a href="https://netinventors.de/" target="_blank">Net Inventors GmbH</a>
</sw-label>