{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation %}
    {% if theme_config('activateStickyHeader') %}
    <div class="js-navigation-wrapper"
         data-sticky-header="true"
         data-sticky-header-options='{
                "showOnScrollPosition": "{{ theme_config('showOnScrollPosition') }}"
             }'>
        {{ parent() }}
    </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
