{% block sw_data_grid_slot_action_modals %}
    <sw-modal v-if="deleteId === item.id" @modal-close="closeModal" :title="$tc('global.default.warning')" variant="small">
        <p class="sw-listing__confirm-delete-text">
            <slot name="delete-confirm-text" v-bind="{ item }">
                {{ $tc('neti-easy-coupon-product.list.deleteMessage') }}
            </slot>
        </p>

        <template #modal-footer>
            <slot name="delete-modal-footer" v-bind="{ item }">
                <slot name="delete-modal-cancel" v-bind="{ item }">
                    <sw-button @click="closeModal" size="small">
                        {{ $tc('global.default.cancel') }}
                    </sw-button>
                </slot>

                <slot name="delete-modal-delete-item" v-bind="{ item }">
                    <sw-button @click="deleteItem(item)" variant="danger" size="small">
                        {{ $tc('global.default.delete') }}
                    </sw-button>
                </slot>
            </slot>
        </template>
    </sw-modal>
{% endblock %}

{% block sw_data_grid_slot_bulk_modals %}
    <sw-modal v-if="showBulkDeleteModal"
              @modal-close="showBulkDeleteModal = false"
              :title="$tc('global.default.warning')"
              variant="small">
        <p class="sw-data-grid__confirm-bulk-delete-text">
            {{ $tc('neti-easy-coupon-product.list.deleteMessage', selectionCount, { count: selectionCount }) }}
        </p>

        <template #modal-footer>
            <slot name="bulk-modal-cancel">
                <sw-button @click="showBulkDeleteModal = false" size="small">
                    {{ $tc('global.default.cancel') }}
                </sw-button>
            </slot>

            <slot name="bulk-modal-delete-items">
                <sw-button @click="deleteItems" variant="danger" size="small" :isLoading="isBulkLoading">
                    {{ $tc('global.default.delete') }}
                </sw-button>
            </slot>
        </template>
    </sw-modal>
{% endblock %}